.App {
  text-align: center;
  background-color: ivory;
}
.resume {
  text-align: left;
}
.coverletter {
  text-align: left;
  margin-left: 25%;
  margin-right: 25%;
  font-size: 25px
}
.coverletterlink {
  font-size: 25px
}
.signature {
  text-align: right;
}
.header {
  border-bottom: 3px solid black;
}

.work {
  border-bottom: 3px solid black;
}

.volunteer {
  border-bottom: 3px solid black;
}

.education {
  border-bottom: 3px solid black;
}

.skills {
  border-bottom: 3px solid black;
}
@media only screen and (min-width: 800px) {
  .contact {
    line-height: 50%;
  }
  .workHeading {
    line-height: 50%;
  }
  .educationHeading {
    line-height: 50%;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.myPic {
  flex: 25%;
}

div.picStick {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 50px;
}

div.navStick {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 50px;
}

.blue {
  flex: 50%;
}

.nav {
  flex: 25%;
}
