#dungeon {
    display: grid;
    grid-template-columns: repeat(20, 1fr); /* Each cell takes up an equal fraction of the total width */
    width: 100vw; /* Set the width of the dungeon to 100% of the viewport width */
    height: 100vh; /* Optional: You might want to limit the height if it becomes too tall */
    /* grid-gap: 1px; */
    box-sizing: border-box;
    max-width: 100%; /* Ensure it does not exceed the screen width */
}

.cell {
    width: 100%; /* Each cell will stretch to fill its fraction of the grid */
    padding-top: 100%; /* Padding top as a percentage of the width creates a square */
    position: relative; /* Needed to position the content of the cell using absolute positioning */
    overflow: hidden;
    background-image:url('../images/floor-tile.png');
    background-size: cover;
    background-repeat: no-repeat
}

.cell img {
    position: absolute;
    z-index: 10;  /* Ensure the image is above other content */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.player img {
    z-index: 100; /* Ensure this is higher to appear above all other cell content */
}

.cell::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #333; /* Default unseen color, changed dynamically */
    transition: background-color 0.3s; /* Smooth transition for visibility changes */
}

.visible::after, .dim::after {
    background-image:url('../images/floor-tile.png');
    background-size: cover;
    background-repeat: no-repeat
}

.wall.visible::after, .wall.dim::after {
    background-color: black;
    background-image: none
}

.player::after {
    /* No more background-color needed */
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}


.monster.visible::after, .monster.dim::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.fog::after {
    background-color: #333; /* Unseen areas */
}
